body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: darkgray;
    text-align: center;
}
h1 {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
}
#trunsWriter {
    display: flex;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    color:#434A9E;
    font-size: 1.3rem;
}
.sec1, .sec2, .sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells1, .cells2, .cells3 {
    height: 100px;
    width: 100px;
    background: #349eeb;
    
    border: 2px solid #3A38CD;
    border-radius: 8px;
    margin: 8px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FFF8;
    font-weight: bold;
}
#score, #result {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
}
.resetbtn {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 220px;
    background-color: #FF00C2;
    box-shadow: 3px 2px 12px #555;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
    color: #02d9d9;
}
.footer {
    position: fixed;
    height: 50px;
    width: 100%;
    background: #333;
    color: lightgray;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}